$black_color: #000000;
$white_color: #FFFFFF;
$grey_color: #f7f7f7;

$overlayGradient:  linear-gradient(rgba(211, 156, 46, 0.8),rgba(246, 211, 0,0.8));
$overlayGradientBackward: linear-gradient(to right,rgba(246, 211, 0, 0.8),rgba(211, 156, 46, 0.8));
$darkOverlayGradient: linear-gradient(rgba(67, 67, 67,0.5), rgba(0, 0, 0,0.6));

$text_light_grey: #555555;
$gold_color_light: #f6d300;
$gold_color: #FCC201;