#button{
    color: $gold_color;
    background-color:inherit;
    outline:0;
    margin-top: 2rem;
    display:inline-block;
    border-bottom: 1px solid $gold_color;
    padding: 1.5rem;
    transition: all 0.2s;
    &:hover{
        background-color: $gold_color;
        color: $white_color;
        box-shadow: 0 1rem 2rem rgba($black_color,0.15);
        transform:translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($black_color,0.15);
        transform: translateY(0);
}
}